<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>text Utils</title>
</head>
<body>
<h1>Welcome to text analizer.. enter your text bellow</h1>
<form action='/analyze' method='post'>
    {% csrf_token %}
    <textarea s name='text'tyle='width: 663px; height: 203px;'></textarea><br>
    <input type="checkbox" name="removepunc">Remove punctuation <br>
    <input type="checkbox" name="fullcaps">UPPERCASE <br>
    <input type="checkbox" name="newlineremover">new line remover <br>
    <input type="checkbox" name="spaceremover">space remover <br>
    <input type="checkbox" name="charcount">count charactors<br>
    <button type="submit">Analyze text</button> 
</form>
</body>
</html>